body{
    height: 100%;
}
.container{
    width:100%;

}

.searchdiv{
    padding:20px;
    height: 100%;
    width: 30%;
    margin-left: 0px;
    border: 3px solid black;
}

.weather{
    text-align: center;
    height: 500px;
    width:70%;

}

.col-md-8{
    text-align:center;
}